.add-color{
  display:flex;
}
.btn-like, .btn-dlike{
  font-size: 1rem;
}
.movie-list-container {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  /* height: 10px; */
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  
}
.Im,.movie-poster{
  height:50%; 
  width:100%; 
  /* object-fit: cover; */
  /* width: 340px; */
  
}
.movie-container{
  width:340px;
  padding: 10px;
  height:100%;
  text-align: left;
  justify-content:space-between;
}
#seg2,.seg2{
  display:flex;
  align-items:center;
  
  /* justify-content:space-between; */
}
#n1,.movie-name {
  text-align: left;
  font-size: 15px;
  
}
#r1,.movie-rating{
  font-size: 15px;
  margin:0;
  
}
#d1,.movie-summary {
  text-align:center;
  font: size 10px;
  display: flex;
}


.add-movie-form{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.unlimitedpp,.phnsupport,.subdomain,.statusreports,.statusreports2{
 opacity: 0.3;

}

.fullpack{
  background-color:blue;
  width:100%;
  display: flex;
  flex-wrap: wrap;
  object-fit: cover;
  padding: 10px;
 justify-content: space-between;
}
.pack{
  border-style:line solid;
  border-radius: 30px;
  padding:30px;
  width: 100%;
  align-items: center;
  background-color:white;
  /* text-decoration: solid; */
  font-family:Arial, Helvetica, sans-serif;
 text-decoration: solid;
 font-size:15px;
}

.pricingsnips{
  display: flex;
  flex-direction: row;
}
@media (max-width:700px) {
  .pricingsnips{
    flex-direction: column;
  }
}
.heading,.heading2,.heading3{
  font-size: 15px;
  text-align:center;
  text-transform:uppercase;
  font-weight: bold;
  opacity: 0.4;
  /* justify-content: space-between; */
}
.amt,.amt2,.amt3,.butn{
  text-align:center;
  font-size: 30px;
  /* justify-content: space-between; */
}
.btn{
  border-style: line-solid;
  border-width: 1px;
  border-radius:15px;
  width: 100%;
  background-color:rgb(74, 197, 239);
  color:white;
  font-size: 80%;
  
}
.btn:hover{
  background-color:rgb(24, 107, 135);
}
.mon{
  color:black;
  font-size: 15px;
}
.pack:hover{
  margin-top: -.25rem;
  margin-bottom: .25rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
}
.un{
  font-weight: bold;
}

.product-box{
  border-color:black;
  padding: 10px;
  display:flex;
  flex-direction: column;
width: 20%;
border:15px;
}
.product-pack{
 /* justify-content: space-between; */
 background-color:yellow;
  display: flex;
  /* flex-direction: row; */
  flex-wrap: wrap;
  border:10px;
  
}
.product-image{
  background-color: cornflowerblue;
}
.product-name-price{
  background-color:white;
}

/* .dropdown-icon{
  background-color:pink;
}
.dropdown-toggle{
  background-color:orange;
  border-radius: 0px;

}
.Dropdown.Menu{
  display: inline-block;
  border: 1px solid black;
} */
/* .headbar{
 display:inline;
 display: flex;
 text-align:center;

} */

.headbar{
  justify-content: space-between;
  background-color:purple;
  display: flex;
  width:100%;
}

.btn-cart{
  background-color:pink;
  
  }

  .cart-icon{
    margin-left:auto;
    display:flex;
  }

  .lines{
  background-color:black;
  justify-content: space-between;
  color:white;
  text-align:center;
  padding:5px;

  }
  .sub-title{
    color:grey;
    font-size:25px;
  }
  .title{
  font-size: 50px;}

.dash{
  display:flex;
  background-color:cornflowerblue;
}

  
